body {
    background-image: url("https://free4kwallpapers.com/uploads/originals/2019/03/14/the-library-wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}