<div>
   <div>
		<header>
			<p-toolbar [style]="{'background':'white'}">
			    <div class="p-toolbar-group-left">
					<!-- TOGLIERE GLI STILI CSS DALL'HTML, VANNO NEL RELATIVO FILE CSS -->
					<p-button routerLink="/" label="HOME" ></p-button>
					<p-button routerLink="/book" label="Books" styleClass="p-button-rounded p-button-primary" [ngStyle]="{'margin-right':'50px'}"></p-button>
			        <p-button routerLink="/client" label="Clients" styleClass="p-button-rounded p-button-success" [ngStyle]="{'margin-right':'50px'}" ></p-button>
			        <p-button label="Editors" styleClass="p-button-rounded p-button-help"[ngStyle]="{'margin-right':'50px'}"></p-button>
			        <p-button label="Authors"styleClass="p-button-rounded p-button-danger" class="btn-top"></p-button>
			    </div>
			</p-toolbar>
		</header>
	</div>	
	<div>
    	<router-outlet></router-outlet>
	</div>
</div>