<div>
   <h1>Lista Libri</h1>
   <div>
      <p-table [columns]="cols" [value]="books" [tableStyle]="{ 'min-width': '50rem' }" [loading]="loading">
      <ng-template pTemplate="header" let-columns>
         <tr>
            <th *ngFor="let col of columns">
               {{ col.header }}
            </th>
         </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
         <tr>
            <td *ngFor="let col of columns">
               <ng-container *ngIf="col.field === 'author'">
                  {{ rowData.author.surname }}
               </ng-container>
               <ng-container *ngIf="col.field === 'isAvailable'">
                  <ng-container *ngIf="rowData['isAvailable'] === true; else elseBlock">  
                     <i class="pi pi-check"></i>
                  </ng-container>
                  <ng-template #elseBlock> 
                     <i class="pi pi-times" style="color: red"></i>
                  </ng-template>
               </ng-container>
               <ng-container *ngIf="col.field !== 'author'">
                  <ng-container *ngIf="col.field !== 'isAvailable'">
                     {{ rowData[col.field] }}
                  </ng-container>
               </ng-container>
            </td>
         </tr>
      </ng-template>
      </p-table>
   </div>
</div>